[submodule "ansible-k8s"]
	path = ansible-k8s
	url = https://github.com/kaitoy/ansible-k8s.git
[submodule "bento"]
	path = bento
	url = https://github.com/chef/bento.git
[submodule "ansible-playbook-wrapper"]
	path = ansible-playbook-wrapper
	url = https://github.com/kaitoy/ansible-playbook-wrapper.git
