#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# Install OS instead of upgrade
install
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us','jp'
# Root password
rootpw --plaintext hitachi
# System language
lang en_US.UTF-8 --addsupport=ja_JP.UTF-8
# Firewall configuration
firewall --disabled
# System authorization information
auth --enableshadow --passalgo=sha512
# System services
services --enabled="chronyd"
# Use CDROM installation media
cdrom
# Use text mode install
text
# SELinux configuration
selinux --permissive
# Do not configure the X Window System
skipx

# Network information
network --bootproto=static --device=enp0s3 --ip=10.0.2.15 --netmask=255.255.255.0 --gateway=10.0.2.2 --nameserver=10.0.2.3 --onboot=on --activate
network --hostname=k8s-master.local
# Reboot after installation
reboot --eject
firstboot --disable
# System timezone
# timezone Asia/Tokyo --isUtc
timezone UTC
# System bootloader configuration
bootloader --location=mbr
# Clear the Master Boot Record
zerombr
# Partition clearing information
clearpart --all --initlabel
# Disk partitioning information
part /boot --fstype xfs --size=200
part pv.01 --size=1 --grow
volgroup rootvg01 pv.01
logvol / --fstype xfs --name=lv01 --vgname=rootvg01 --size=1 --grow
# Create a user
# user --name=vagrant --plaintext --password vagrant

%packages --nobase --ignoremissing --excludedocs
@core --nodefaults
chrony
kexec-tools
-iwl*firmware
-alsa-*
-iprutils
-postfix
# for VBoxGuestAdditions
bzip2
kernel-uek-devel
%end
